/**
*--------------------------------
* :: = PRELOADER DESIGN
*--------------------------------
*/
.preloader * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier( 0.86, 0, 0.07, 1 );
    -webkit-transition-timing-function: cubic-bezier( 0.86, 0, 0.07, 1 );
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: #282828;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier( 0.86, 0, 0.07, 1 );
    -webkit-transition-timing-function: cubic-bezier( 0.86, 0, 0.07, 1 );
    z-index: 99;
    transition-delay: 0.65s;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 200px 100vh 0;
        border-color: transparent #282828 transparent transparent;
        position: absolute;
        left: -200px;
        top: 0;
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100vh 0 0 200px;
        border-color: transparent transparent transparent #282828;
        position: absolute;
        right: -200px;
        top: 0;
    }

    .inner {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .logo {
            display: inline-block;
            margin: 0;
            animation: fadeInUp ease 0.6s;

            img {
                height: 200px;
            }
        }

        .percentage {
            width: 100%;
            font-size: 70vh;
            line-height: 1;
            font-weight: 800;
            color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY( -50% );
            text-align: center;
            opacity: 0.05;
            transition-delay: 0.1s;
        }

    }
}

.page-loaded.preloader {
    left: calc( -100% - 200px );
    visibility: hidden;

    .logo {
        transform: translateX( -100px );
        opacity: 0;
    }

    .percentage {
        margin-left: 100px;
        opacity: 0;
    }

}

@media only screen and ( max-width: 767px ),
only screen and ( max-device-width: 767px ) {

    .preloader {
        .inner {

            .logo {
                text-align: center;

                img {
                    width: 80%;
                    height: auto;
                    margin: 0 auto;
                }
                
            }

            .percentage {
                font-size: 30vh;
            }

        }
    }

}