.azad-index {
    .index-container {
        article {
            padding: 15px 0;
            text-align: left;

            h2 {
                margin-bottom: 10px;
                color: #434343;
                font-size: 22px;
                line-height: 30px;

                a {
                    color: #434343;
                }
            }

            p {
                margin-bottom: 5px;
                color: #434343;
                font-size: 18px;
                line-height: 25px;
                font-weight: normal;
            }

        }
    }
}
