.azad-header{
    background: white;
    border-bottom: 1px solid var(--border);

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:1rem 0;

        .logo {
            display: flex;
            align-items: center;

            h1{
                line-height:1rem;
                a{
                    display: inline-block;
                    font-size: 2rem;
                    line-height:2rem;
                    img{
                        height:52px;
                        width:auto;
                    }
                }
            }
            .burger-button{
                display: none;
            }
        }
        .azad-nav {
            display: flex;
            align-items:center;
            .desktop-menus {
                ul{
                    display: flex;
                    justify-content: flex-end;

                    li{
                        margin-left:2.5rem;
                        position:relative;
                        line-height:1.25;                        

                        a{
                            color: #cd2653;
                            display: block;
                            padding-right: 1rem;
                            position: relative;
                            font-size: 1.5rem;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        .icon{
                            color:#cd2653;
                            display:block;
                            height: 0.5rem;
                            position:absolute;
                            width: 1rem;
                            pointer-events: none;
                            transform:rotate(-45deg);
                            right:-0.5rem;
                            top:calc(50% - 0.4rem);
                            &:before, &:after{
                                content: "";
                                display: block;
                                background-color: currentColor;
                                position: absolute;
                                bottom: calc(50% - 0.1rem);
                                left: 0;
                            }
                            &:before{
                                height: 0.5rem;
                                width: 0.1rem;
                            }
                            &:after{
                                height: 0.1rem;
                                width: 0.5rem;
                            }
                        }
                        ul{
                            border-radius: 0.4rem;
                            color: #fff;
                            font-size: 1.7rem;
                            opacity: 0;
                            padding: 1rem 0;
                            position: absolute;
                            right: 9999rem;
                            top: calc(100% + 2rem);
                            transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
                            transform: translateY(0.6rem);
                            width: 13rem;
                            z-index: 1;
                            display:flex;
                            flex-direction: column;
                            height: auto;
                            background:#000;

                            li{
                                margin-left:0;
                                a{
                                    display:block;
                                    padding: .5rem;
                                    color:#ffffff;
                                    text-decoration: none !important;
                                    &:hover{
                                        text-decoration: underline !important;
                                    }
                                }
                            }

                            &:before, &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                bottom: 100%;
                            }
                            &:before {
                                height: 2rem;
                                left: 0;
                                right: 0;
                            }
                            &:after {
                                border: 0.6rem solid transparent;
                                border-bottom-color: #000;
                                right: 1.8rem;
                            }
                        }
                        &:hover ul{
                            right: 0;
                            opacity: 1;
                            transform: translateY(0);
                            transition: opacity 0.15s linear, transform 0.15s linear;
                        }
                    }
                    .current-menu-item > a{
                        text-decoration: underline !important;
                    }                    
                }
            }
            .azad-search-button{
                display:flex;
                align-items:center;
                margin-left:1.5rem;
                    
                .toggle-wrapper{
                    line-height:0;
                    .toggle{
                        border:none;
                        background:none;
                        cursor:pointer;
                        .toggle-inner{
                            display:flex;
                            justify-content:center;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }  
        }
    }
}
.mobile-menus{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    background: var(--black);
    height: 100vh;
    transform: skewX(0deg) translate(-100%,0);
    transform-origin: top left;
    transition: all .2s ease-in;
    z-index:99999;

    .responsive-slider-logo{
        transform: skewX(8deg);
        padding: 2rem 0;
        background: 2rem 0;
        h1{
            line-height:14px;
            a{
                display:block;
                img{
                    height:80px;
                    width:auto;
                }
            }
        }        
    }
    
    ul{
        transform: skewX(8deg);
        transform-origin: top left;
        padding-top:1rem;
        display:flex;
        flex-direction:column;
        height:auto;
        justify-content:center;

        li{
            opacity: 0;
            transform: translate(0, 10px);
            transition: all .0s ease-in .3s;
            
            a{
                font-size: 20px;
                margin-bottom:15px;
                font-family:Tahoma;
                text-decoration: none;
                text-transform:uppercase;
                display:inline-block;
                padding:.5rem 0;
                transition: all 0.3s ease-in-out !important;
                color: var(--white);
                &:hover{
                    color: var(--text);
                }
            }
        }
    }
    .slider-menu-social{
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        ul{
            display:flex;
            flex-direction:row;
            transform: skewX(0deg);
            padding: 1rem 0 0 4rem;
            li{
                transform: skewX(8deg) !important;
                margin:0 .1rem;
                a{
                    padding:.5rem;
                    color:#54595F;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px){
    .preloader .inner .percentage {
        font-size: 30vh;
    }

    .azad-header{
        .header-container{
            flex-direction:column;            
            .logo{
                justify-content:center;
                position:relative;
                padding: 1rem 0;

                .burger-button{
                    padding: 5px;
                    border-radius: 4px;
                    background: var(--bg);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0%, -50%) rotate(0deg);

                    span{
                        position:relative;
                        width: 100%;
                        height: 4px;
                        background:var(--white);

                        &:before, &:after{
                            content:'';
                            display:block;
                            width: 100%;
                            height: 100%;
                            position:absolute;
                            background:var(--white);
                            transition:all .5s ease-in-out;
                        }
                        &:before{
                            top: -12px;
                        }
                        &:after{
                            top: 12px;
                        }
                    }
                }
                .burger-button.active{
                    span{
                        background:none;
                        &:before,&:after{
                            top:0;
                        }
                        &:before{
                            transform:rotate(45deg);
                        }
                        &:after{
                            transform:rotate(315deg);
                        }
                    }
                }
            }
            .azad-nav{
                display: none;
            }
        }
    }
    .active{
        transform: skewX(-8deg) translate(0,0);
        
        ul{
            li{
                opacity: 1;
                transform: translate(0, 0) !important;
                transition: all .2s ease-in 0s;

                &:nth-child(1) {
                    transition-delay: .3s;
                }
                &:nth-child(2) {
                    transition-delay: .4s;
                }
                &:nth-child(3) {
                    transition-delay: .5s;
                }
                &:nth-child(4) {
                    transition-delay: .6s;
                }
                &:nth-child(5) {
                    transition-delay: .6s;
                }
                &:nth-child(6) {
                    transition-delay: .7s;
                }
                &:nth-child(7) {
                    transition-delay: .8s;
                }
                &:nth-child(8) {
                    transition-delay: .9s;
                }
            }
        }
    }
}

/* Cover Modals ------------------------------ */

.cover-modal {
	display: none;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
    width:100%;
}
.cover-modal.show-modal {
	display: block;
	cursor: pointer;
}
.search-modal {
	background: rgba(0, 0, 0, 0.2);
	display: none;
	opacity: 0;
	position: fixed;
	bottom: 0;
	left: -9999rem;
	top: 0;
	transition: opacity 0.2s linear, left 0s 0.2s linear;
	width: 100%;
	z-index: 999;
}
.search-modal.active {
	left: 0;
	opacity: 1;
	transition: opacity 0.2s linear;
}
.search-modal.active .search-modal-inner {
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
	transform: translateY(0);
	transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
}
.search-modal-inner {
	background: #fff;
	transform: translateY(-100%);
	transition: transform 0.15s linear, box-shadow 0.15s linear;
}
.search-modal-inner .section-inner {
	display: flex;
	justify-content: space-between;
	max-width: 168rem;
}
// FIX LATER
.section-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 120rem;
	width: calc(100% - 4rem);
}
.search-untoggle svg {
	height: 1.5rem;
	transition: transform 0.15s ease-in-out;
	width: 1.5rem;
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
	transform: scale(1.15);
}

/* Modal Search Form ------------------------- */

.search-modal form {
	margin: 0;
	position: relative;
	width: 100%;
}
.search-modal form  label{
	display: block;
}
.search-modal .search-field {
	background: none;
	border: none;
	border-radius: 0;
	color: inherit;
	font-size: 2rem;
	letter-spacing: -0.0277em;
	height: 8.4rem;
	padding: 0 0 0 2rem;
	width: 100%;
}
.search-modal .search-field {
    border: none;
    font-size: 3.2rem;
    height: 14rem;
}
.search-modal .search-field::-webkit-input-placeholder {
	color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
	color: inherit;
}

.search-modal .search-field::-moz-placeholder {
	color: inherit;
	line-height: 4;
}

.search-modal .search-submit {
	position: absolute;
	right: -9999rem;
	top: 50%;
	transform: translateY(-50%);
}

.search-modal .search-submit:focus {
	right: 0;
}

//
button.search-untoggle {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 2.5rem !important;
}
button.toggle {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: inherit;
    padding: 0;
    text-transform: none;
}

// NEW INFO
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
input[type="search"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}
