/**
*-----------------------------------------------------------------------------------------------------------------------------
*   = GLOBAL STYLE
*-----------------------------------------------------------------------------------------------------------------------------
*/
:root {
    --ff: verdana;
    --width: 85vw;
    --padding-top: 5rem;
    --paddin-bottom: 5rem;
}
html{
    font-size:100%;
}
body {
    font: 1em/1.25em "Cabin", Helvetica, Arial, sans-serif;
    text-align: center;
    color: var(--text-color);

    .big-wrapper {
        background: var(--transparent);
        overflow: overlay;
        min-height: 100vh;
        position: relative;
        padding-bottom: 74px;

        & > section{
            background:var(--transparent);
            margin-top: 5.3rem;
        }
        .azad-container {
            width: var(--width);
            margin: 0 auto;
        }
        .azad-stretched {
            width: 100%;
        }
        .azad-row {
            display: flex;
            overflow: overlay;
        }
    }   
}
ol, ul {list-style: none;}
a{text-decoration: none;}