/**
*------------------------------------------------
*   = GLOBAL STYLE
*------------------------------------------------
*/
html {
    font-size: 100%;
    background: rgba( 255, 255, 255, 0.8 );

    body {
        font: 1em/1.25em "Cabin", Helvetica, Arial, sans-serif;
        // line-height: 1.2em;
        font: 14px/21px "Cabin", Helvetica, Arial, sans-serif; 
        color: #ffffff; 
        text-align: center; 
        -webkit-font-smoothing: antialiased; /* Chrome Suffery     */
        -moz-font-smoothing: antialiased; 	 /* Firefox            */
        -ms-font-smoothing: antialiased; 	 /* Internet Explorer  */
        -o-font-smoothing: antialiased; 	 /* Opera              */
        font-smoothing: antialiased; 		 /* Official           */ 
        color: var( --text-color );

        main {
            background: var( --transparent );
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            min-height: 100vh;

            & > section{
                background: var( --transparent );
            }
            .azad-container {
                width: calc( 100% - 15rem );
                margin: 0 auto;
            }

            .azad-stretched {
                //width: 100%;
            }
            
            .azad-row {
                display: flex;
                overflow: overlay;
            }
        }   
    }
}

@media only screen and (max-width: 767px),
only screen and ( max-device-width: 767px ) {

    html {

        body {

            main {

                .azad-container {
                    width: calc( 100% - 2rem );
                    margin: 0 auto;
                }
            }   
        }
    }

}

ol,
ul {
    list-style: none;
}

a { 
    text-decoration: none;
}

.screen-reader-text {
    border: 0;
    clip: rect( 1px, 1px, 1px, 1px );
    -webkit-clip-path: inset( 50% );
    clip-path: inset( 50% );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    color: red;
    word-wrap: normal !important;
    word-break: normal;
}