:root {
  --text: rgba(0,186,186,1);
  --menu-text: #222222;
  --menu-text-hover: rgba(0,186,186,1);
  --menu-bg: rgba(0,186,186,1);
  --menu-bg-hover: rgba(0,186,186,1);
  --bg: rgba(57,225,245,1);
  --body: rgba(65,64,66,.8);
  --border: rgba(227,227,227,1);
  --white: rgba(255,255,255,1);
  --black: rgba(0,0,0,1);
  --tranparent: rgba(0,0,0,0);
  --border-radius: 3px;
}

/**
*-----------------------------------------------------------------------------------------------------------------------------
* ::    RESET CODE
*-----------------------------------------------------------------------------------------------------------------------------
*/
html, body, div, span, applet, object, iframe, pre, a, abbr, acronym, big, cite, code, del, dfn, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, hr, center, dl, dt, dd, fieldset, form, label, lagend, table, caption, thead, tbody, tfoot, th, tr, td, section, article, aside, header, hgroup, nav, menu, footer, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, mark, span, em, strong, img, ol, ul, li, figure, figcaption, details, embed, canvas, audio, video, output, ruby, summary, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  background: transparent;
  -webkit-box-sizing: border-box;
  -mz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote::before,
blockquote::after {
  content: "";
}

/**
*-----------------------------------------------------------------------------------------------------------------------------
*   = HTML5 DISPLAY RULE
*-----------------------------------------------------------------------------------------------------------------------------
*/
address, article, aside, canvas, details, figure, figure img, figcaption, footer, header, hgroup, menu, nav, section, summary, main, audio, video {
  display: block;
}

/**
*-----------------------------------------------------------------------------------------------------------------------------
*   = GLOBAL STYLE
*-----------------------------------------------------------------------------------------------------------------------------
*/
:root {
  --ff: verdana;
  --width: 85vw;
  --padding-top: 5rem;
  --paddin-bottom: 5rem;
}

html {
  font-size: 100%;
}

body {
  font: 1em/1.25em "Cabin", Helvetica, Arial, sans-serif;
  text-align: center;
  color: var(--text-color);
}

body .big-wrapper {
  background: var(--transparent);
  overflow: overlay;
  min-height: 100vh;
  position: relative;
  padding-bottom: 74px;
}

body .big-wrapper > section {
  background: var(--transparent);
  margin-top: 5.3rem;
}

body .big-wrapper .azad-container {
  width: var(--width);
  margin: 0 auto;
}

body .big-wrapper .azad-stretched {
  width: 100%;
}

body .big-wrapper .azad-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: overlay;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.preloader {
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #282828;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 99;
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.preloader * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.preloader:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100vh 0;
  border-color: transparent #282828 transparent transparent;
  position: absolute;
  left: -200px;
  top: 0;
}

.preloader:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 0 0 200px;
  border-color: transparent transparent transparent #282828;
  position: absolute;
  right: -200px;
  top: 0;
}

.preloader .inner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.preloader .inner .logo {
  display: inline-block;
  margin: 0;
  -webkit-animation: fadeInUp ease 0.6s;
          animation: fadeInUp ease 0.6s;
}

.preloader .inner .logo img {
  height: 300px;
}

.preloader .inner .percentage {
  width: 100%;
  font-size: 70vh;
  line-height: 1;
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.05;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.page-loaded.preloader {
  left: calc(-100% - 200px);
  visibility: hidden;
}

.page-loaded.preloader .logo {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}

.page-loaded.preloader .percentage {
  margin-left: 100px;
  opacity: 0;
}

.azad-header {
  background: white;
  border-bottom: 1px solid var(--border);
}

.azad-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.azad-header .header-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azad-header .header-container .logo h1 {
  line-height: 1rem;
}

.azad-header .header-container .logo h1 a {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
}

.azad-header .header-container .logo h1 a img {
  height: 52px;
  width: auto;
}

.azad-header .header-container .logo .burger-button {
  display: none;
}

.azad-header .header-container .azad-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azad-header .header-container .azad-nav .desktop-menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azad-header .header-container .azad-nav .desktop-menus ul li {
  position: relative;
  margin-left: 2.5rem;
}

.azad-header .header-container .azad-nav .desktop-menus ul li .icon {
  color: #cd2653;
  display: block;
  height: 0.5rem;
  position: absolute;
  width: 1rem;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: -0.5rem;
  top: calc(50% - 0.4rem);
}

.azad-header .header-container .azad-nav .desktop-menus ul li .icon:before, .azad-header .header-container .azad-nav .desktop-menus ul li .icon:after {
  content: "";
  display: block;
  background-color: currentColor;
  position: absolute;
  bottom: calc(50% - 0.1rem);
  left: 0;
}

.azad-header .header-container .azad-nav .desktop-menus ul li .icon:before {
  height: 0.5rem;
  width: 0.1rem;
}

.azad-header .header-container .azad-nav .desktop-menus ul li .icon:after {
  height: 0.1rem;
  width: 0.5rem;
}

.azad-header .header-container .azad-nav .desktop-menus ul li a {
  color: var(--text);
  padding: 0rem 1rem;
  display: block;
  width: 100%;
}

.azad-header .header-container .azad-nav .desktop-menus ul li a:hover {
  text-decoration: underline;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul {
  background: #000;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1rem;
  opacity: 0;
  padding: 1rem 0;
  position: absolute;
  right: 9999rem;
  top: calc(100% + 2rem);
  -webkit-transition: opacity 0.15s linear, right 0s 0.15s, -webkit-transform 0.15s linear;
  transition: opacity 0.15s linear, right 0s 0.15s, -webkit-transform 0.15s linear;
  transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
  transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s, -webkit-transform 0.15s linear;
  -webkit-transform: translateY(0.6rem);
          transform: translateY(0.6rem);
  width: 14rem;
  z-index: 1;
  display: initial;
  text-align: left;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul li {
  margin: 0;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul li a {
  padding: .5rem 1rem;
  color: var(--white);
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul li:hover > ul {
  right: calc(100% + 2rem);
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul li .icon {
  right: 1rem;
  color: white;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul li ul {
  top: -1rem;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul li ul:before {
  top: 0;
  height: auto;
  width: 2rem;
  left: auto;
  right: -2rem;
  bottom: 0;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul li ul:after {
  border-bottom-color: transparent;
  border-left-color: #000000;
  top: 1.5rem;
  right: -1.2rem;
  bottom: auto;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul:before, .azad-header .header-container .azad-nav .desktop-menus ul li ul:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul:before {
  height: 2rem;
  left: 0;
  right: 0;
}

.azad-header .header-container .azad-nav .desktop-menus ul li ul:after {
  border: 0.6rem solid transparent;
  border-bottom-color: #000;
  right: 1.8rem;
}

.azad-header .header-container .azad-nav .desktop-menus ul li:hover > ul {
  right: 0;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
  transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
  transition: opacity 0.15s linear, transform 0.15s linear;
  transition: opacity 0.15s linear, transform 0.15s linear, -webkit-transform 0.15s linear;
}

.azad-header .header-container .azad-nav .azad-search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
}

.azad-header .header-container .azad-nav .azad-search-button .toggle-wrapper {
  line-height: 0;
}

.azad-header .header-container .azad-nav .azad-search-button .toggle-wrapper .toggle {
  border: none;
  background: none;
  cursor: pointer;
}

.azad-header .header-container .azad-nav .azad-search-button .toggle-wrapper .toggle .toggle-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.azad-header .header-container .azad-nav .azad-search-button .toggle-wrapper .toggle:focus {
  outline: none;
}

.mobile-menus {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background: var(--black);
  height: 100vh;
  -webkit-transform: skewX(0deg) translate(-100%, 0);
          transform: skewX(0deg) translate(-100%, 0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: 99999;
}

.mobile-menus .responsive-slider-logo {
  -webkit-transform: skewX(8deg);
          transform: skewX(8deg);
  padding: 2rem 0;
  background: 2rem 0;
}

.mobile-menus .responsive-slider-logo h1 {
  line-height: 14px;
}

.mobile-menus .responsive-slider-logo h1 a {
  display: block;
}

.mobile-menus .responsive-slider-logo h1 a img {
  height: 80px;
  width: auto;
}

.mobile-menus ul {
  -webkit-transform: skewX(8deg);
          transform: skewX(8deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menus ul li {
  opacity: 0;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-transition: all .0s ease-in .3s;
  transition: all .0s ease-in .3s;
}

.mobile-menus ul li a {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: Tahoma;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: .5rem 0;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  color: var(--white);
}

.mobile-menus ul li a:hover {
  color: var(--text);
}

.mobile-menus .slider-menu-social {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-menus .slider-menu-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  padding: 1rem 0 0 4rem;
}

.mobile-menus .slider-menu-social ul li {
  -webkit-transform: skewX(8deg) !important;
          transform: skewX(8deg) !important;
  margin: 0 .1rem;
}

.mobile-menus .slider-menu-social ul li a {
  padding: .5rem;
  color: #54595F;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .preloader .inner .percentage {
    font-size: 30vh;
  }
  .azad-header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .azad-header .header-container .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding: 1rem 0;
  }
  .azad-header .header-container .logo .burger-button {
    padding: 5px;
    border-radius: 4px;
    background: var(--bg);
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%) rotate(0deg);
            transform: translate(0%, -50%) rotate(0deg);
  }
  .azad-header .header-container .logo .burger-button span {
    position: relative;
    width: 100%;
    height: 4px;
    background: var(--white);
  }
  .azad-header .header-container .logo .burger-button span:before, .azad-header .header-container .logo .burger-button span:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--white);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .azad-header .header-container .logo .burger-button span:before {
    top: -12px;
  }
  .azad-header .header-container .logo .burger-button span:after {
    top: 12px;
  }
  .azad-header .header-container .logo .burger-button.active span {
    background: none;
  }
  .azad-header .header-container .logo .burger-button.active span:before, .azad-header .header-container .logo .burger-button.active span:after {
    top: 0;
  }
  .azad-header .header-container .logo .burger-button.active span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .azad-header .header-container .logo .burger-button.active span:after {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  .azad-header .header-container .azad-nav {
    display: none;
  }
  .active {
    -webkit-transform: skewX(-8deg) translate(0, 0);
            transform: skewX(-8deg) translate(0, 0);
  }
  .active ul li {
    opacity: 1;
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    -webkit-transition: all .2s ease-in 0s;
    transition: all .2s ease-in 0s;
  }
  .active ul li:nth-child(1) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  .active ul li:nth-child(2) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .active ul li:nth-child(3) {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  .active ul li:nth-child(4) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .active ul li:nth-child(5) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .active ul li:nth-child(6) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  .active ul li:nth-child(7) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .active ul li:nth-child(8) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
}

/* Cover Modals ------------------------------ */
.cover-modal {
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 100%;
}

.cover-modal.show-modal {
  display: block;
  cursor: pointer;
}

.search-modal {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: -9999rem;
  top: 0;
  -webkit-transition: opacity 0.2s linear, left 0s 0.2s linear;
  transition: opacity 0.2s linear, left 0s 0.2s linear;
  width: 100%;
  z-index: 999;
}

.search-modal.active {
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.search-modal.active .search-modal-inner {
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.1s 0.25s linear;
  transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.1s 0.25s linear;
  transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
  transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear, -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.1s 0.25s linear;
}

.search-modal-inner {
  background: #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.15s linear, -webkit-box-shadow 0.15s linear;
  transition: -webkit-transform 0.15s linear, -webkit-box-shadow 0.15s linear;
  transition: transform 0.15s linear, box-shadow 0.15s linear;
  transition: transform 0.15s linear, box-shadow 0.15s linear, -webkit-transform 0.15s linear, -webkit-box-shadow 0.15s linear;
}

.search-modal-inner .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 168rem;
}

.section-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  width: calc(100% - 4rem);
}

.search-untoggle svg {
  height: 1.5rem;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  width: 1.5rem;
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/* Modal Search Form ------------------------- */
.search-modal form {
  margin: 0;
  position: relative;
  width: 100%;
}

.search-modal form label {
  display: block;
}

.search-modal .search-field {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: 2rem;
  letter-spacing: -0.0277em;
  height: 8.4rem;
  padding: 0 0 0 2rem;
  width: 100%;
}

.search-modal .search-field {
  border: none;
  font-size: 3.2rem;
  height: 14rem;
}

.search-modal .search-field::-webkit-input-placeholder {
  color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
  color: inherit;
}

.search-modal .search-field::-moz-placeholder {
  color: inherit;
  line-height: 4;
}

.search-modal .search-submit {
  position: absolute;
  right: -9999rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-modal .search-submit:focus {
  right: 0;
}

button.search-untoggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2.5rem !important;
}

button.toggle {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: inherit;
  padding: 0;
  text-transform: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

.azad-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid var(--border);
}

.azad-footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azad-footer .footer-container .footer-left {
  width: 100%;
  text-align: left;
}

.azad-footer .footer-container .footer-right {
  width: 100%;
  text-align: right;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .azad-footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: wrap-reverse;
        flex-flow: wrap-reverse;
  }
  .azad-footer .footer-container .footer-left {
    width: 100%;
    margin-top: 20px;
  }
  .azad-footer .footer-container .footer-right {
    width: 100%;
    text-align: left;
  }
}
/*# sourceMappingURL=main-style.css.map */